<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/index.css" />
    </head>
    <body>
        <div class="back">
            <!-- search -->
            <div class="title">Search Engine</div>
            <div class="search">
                <input
                    class="search"
                    type="text"
                    placeholder="Search for opportunity"
                />
                <img
                    class="search"
                    src="/static/picture/search-icon.webp"
                    alt=""
                />
            </div>
            <div class="syno">
                <input class="syno" type="checkbox" value="synonym" />
                <label for="synonym">是否啟用同義詞功能</label>
            </div>
            <!-- result -->
            <div class="result">
                <!-- keyword -->
                <div class="keyword">
                    <div class="keyword1">關鍵字資訊</div>
                    <div class="keyword2">
                        <!-- <div class="keyword-title">
                            與時尚有關的文字/相似度：
                        </div>
                        <div class="keyword-answer">潮流：0.7</div>
                        <div class="keyword-answer">流行：0.58</div> -->
                    </div>
                </div>
                <!-- brand -->
                <div class="brand">
                    <div class="brand1">品牌資訊</div>
                    <div class="brand2">
                        <!-- <div class="brand-title"></div> -->
                        <!-- <div class="brand-answer"></div> -->
                    </div>
                </div>
                <!-- custom -->
                <div class="custom">
                    <div class="custom1">客戶資訊</div>
                    <img
                        src="/static/picture/incubator_canvas_low.jpeg"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </body>
    <script src="/static/index.js"></script>
</html>
